<div class="container">
    <div class="mb-3">
    <a asp-controller="Employee" asp-action="AddDirector" class="btn btn-primary">
            <i class="bi bi-plus-circle"> &nbsp; Добавить нового директора</i>
        </a>
    </div>
        <br />
    <div class="mb-3">
    <a asp-controller="Employee" asp-action="AddLeader" class="btn btn-primary">
            <i class="bi bi-plus-circle"> &nbsp; Добавить нового руководителя подраделения</i>
        </a>
    </div>
         <br />
    <div class="mb-3">
    <a asp-controller="Employee" asp-action="AddController" class="btn btn-primary">
            <i class="bi bi-plus-circle"> &nbsp; Добавить нового контролера</i>
        </a>
    </div>
         <br />
    <div class="mb-3">
    <a asp-controller="Employee" asp-action="AddWorker" class="btn btn-primary">
            <i class="bi bi-plus-circle"> &nbsp; Добавить нового рабочего</i>
        </a>
    </div>
         <br />
    </div>
            <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Назад к списку
        </a>
</div>

