@model Employee

<form method="post" asp-action="EditDirector">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Редактирование сотрудника</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="full_name">ФИО</label>
            <input asp-for="full_name" class="form-control"/>
            <span asp-validation-for="full_name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="birthday">Дата рождения</label>
            <input asp-for="birthday" type="date" class="form-control"/>
            <span asp-validation-for="birthday" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="gender">Пол</label>
            <select asp-for="gender" class="form-control">
                <option value="Мужской" class="form-control">Мужской</option>
                <option value="Женский" class="form-control">Женский</option>
            </select>
            <span asp-validation-for="gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PostId">Должность</label>
            <select asp-for="PostId" class="form-control" id="select">
                <option value="1" class="form-control">Директор</option>
                <option value="2" class="form-control">Руководитель подразделения</option>
                <option value="3" class="form-control">Контролер</option>
                <option value="4" class="form-control">Рабочий</option>
            </select>
            <span asp-validation-for="PostId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="subunit">Подразделение</label>
            <select asp-for="subunit" class="form-control">
                <option value="Склад материалов и готовой продукции" class="form-control">Склад материалов и готовой продукции</option>
                <option value="Отдел механизации и автоматизации" class="form-control">Отдел механизации и автоматизации</option>
                <option value="Ремонтно-строительный цех" class="form-control">Ремонтно-строительный цех</option>
                <option value="Опытное производство" class="form-control">Опытное производство</option>
                <option value="Энергомеханический отдело" class="form-control">Энергомеханический отдел</option>
            </select>
            <span asp-validation-for="subunit" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="info-content" id="info-content1">
                <label asp-for="uniq_info">Выберете дату вступления в должность директора</label>
                <input asp-for="uniq_info" type="date" class="form-control"/>
                <span asp-validation-for="uniq_info" class="text-danger"></span>
            </div>
                
            @*<script type="text/javascript">
                let select = document.getElementById('select');
                let valueOpt = select.options[select.selectedIndex].value;
                
                if (valueOpt == "Директор") {
                    document.getElementById('info-content1').style.display = "block";
                }
                if (valueOpt == "Руководитель подразделения") {
                    document.getElementById('info-content2').style.display = "block";
                }
                if (valueOpt == "Контролер") {
                    document.getElementById('info-content3').style.display = "block";
                }
                if (valueOpt == "Рабочий") {
                    document.getElementById('info-content4').style.display = "block";
                }
                
                //document.querySelector('select').addEventListener('select', function () {
                //    alert(this.options[this.selectedIndex].text)
                //});
            </script>*@

        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Изменить</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Назад к списку
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
